[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
babelnet = "*"
networkx = "*"
spacy = "*"
nltk = "*"
levenshtein = "*"
plotly = "*"
scipy = "*"
keyboard = "*"
dash = "*"
deepmultilingualpunctuation = "*"
gensim = "*"

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.10"
